/* index.html */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
}
#logohotel {text-align: center;}
#logo {
width: 200px;
height: 50%;
cursor: pointer;
}
header{
position: sticky;
top: 0;
}
#bar{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #24252A;
}

li.head{
float: left;
}
li.head a {
display: block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li.head a:hover {
background-color: #111;
}
#limit {
float : right;
}
#bn {
background-color: #20b2aa;
}

#welcome {
background-image: url(picture/hotel/5.jpg);
height: 730px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
text-align: center;
color: #ffffff;
display: block;
align-items: center;
justify-content: center;
}
#worldclass {
text-align: center;
background-color: #fffacd;
}
.h22 {
margin-top: 3em;
}
.pp {
margin-top: 1em;
}
.Readmore {
margin-top: 2em;
}
#guestroom {
text-align: center;
background-color: #fffacd;
}
.grid-container {
display: grid;
grid-column-gap: 50px;
grid-template-columns: auto auto auto;
background-color: #ffffff;
padding: 20px;
}

#grid-item1 {
padding: 80px;
font-size: 30%;
text-align: center;
margin: 5em 0 0 25em;
width: 80%;
height: 50em;
background-image: url(picture/hotel/4.jpg);
background-size: cover ;
}
#grid-item2 {
padding: 80px;
font-size: 30%;
text-align: center;
margin: 5em 5em 0 10em;
width: 80%;
height: 50em;
background-image: url(picture/hotel/7.jpg);
background-size: cover;
transition: width 2s, height 2s, transform 2s;
}
#grid-item3{
padding: 80px;
font-size: 30%;
text-align: center;
margin: 5em 0 0 25em;
width: 80%;
height: 50em;
background-image: url(picture/hotel/8.jpg);
background-size: cover ;
}
#grid-item4{
padding: 80px;
font-size: 30%;
text-align: center;
margin: 5em 5em 0 10em;
width: 80%;
height: 50em;
background-image: url(picture/hotel/9.jpg);
background-size: cover;
}
button{
border-radius: 12px;
border: none;
color: white;
padding: 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
background-color: #463C3C;
}
button:hover 
{
background-color: #262121;
}
footer p {display: inline-block;}

#contact img{
  width: 50px;
  height: 20%;
  padding: 10px 10px 0px 10px;
  margin-top: 10px;

}

footer {
background-color: #24252A;
color: #ffffff;
text-align: center;
}